.App {
  text-align: center;
}

body {
  background-color: #f7f7f7;
}

.info {
  width: 300px;
  padding: 25px;
  border-radius: 15px;
  /* height: 400px ; */
  background-color: #76ceb2;
}

.info p {
  width: "80%";
  line-height: 25px;
  text-align: justify;
}

.inputCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  width: 700px;
  /* margin: auto; */
  background-color: rgb(250, 250, 250);
  height: 400px;
}


.result #result {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 10px;
}

.riskButton {
  padding: 15px;
  margin: 25px 0;
  color: white;
  /* box-shadow: 1px 1px 10px 5px #ddd; */
  border: 1px solid #17b381;
  border-radius: 10px;
  /* border: 0; */
  font-weight: 600;
  cursor: pointer;
  outline: none;
  background-color: #19cb94;
  transition: all 0.2s;
}

.riskButton:hover {
  background-color: #17b381;
  /* background-color: #0e6449; */
}

.startOver {
  padding: 15px;
  color: black;
  /* box-shadow: 1px 1px 10px 5px #ddd; */
  border: 1px solid #17b381;
  border-radius: 10px;
  /* border: 0; */
  font-weight: 600;
  cursor: pointer;
  outline: none;
  background-color: #76ceb2;
  transition: all 0.2s;
}

.startOver:hover {
  background-color: #17b381;
  /* background-color: #0e6449; */
}


.slider {
  /* margin-top: 100px !important; */
  margin-left: 25px !important;
  width: 250px;
  /* margin: 0 !important; */
}

@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}